{% extends 'base.html' %}

{% block title %}Coding Problems{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Coding Problems</h2>
    
    {% for category, problems in coding_problems.items %}
        <h3>{{ category }}</h3>
        <ul class="list-group">
            {% for problem in problems %}
                <li class="list-group-item">
                    <h5>{{ problem.title }}</h5>
                    <p>{{ problem.description }}</p>
                    <a href="{{ problem.link }}" class="btn btn-primary" target="_blank">Solve Problem</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
